* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 14));
    font-family: sans-serif;
    color: white;
}

.timezone, 
.temperature
{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.temperature
 {
    flex-direction: column;
}

.degree-box{
    display: flex;
    align-items: center;
    
}

.degree-box span {
    margin: 10px;
    font-size: 30px;
}

.degree-box h2{
    font-size: 40px;
}

.temperature-description{
    font-size: 30px;
}

